
header{
    background: linear-gradient(to top, #FE998F, #FFF1F0);
    height: 100px;
}
.Itemlista{
    display: inline;     
}
.menu{
    text-decoration: none;
    margin: 20px;
}
.Padrelista{
    text-align: center;
}
.row{
    background: linear-gradient(to top, #FE998F, #FFF1F0);
    width: 100%;
   
    justify-content: space-between;
}
.card-img-top{
    height: 300px;
}
.card{
    height: 150%;
    background: linear-gradient(to top, #FE998F, #FFF1F0);
    border: none;
}
.foot{
    text-align: center;
    font-size: 30px;
}
.Redes{
    text-align: center;
    font-size: large;
    color: blue;
}
footer{
    background-color: grey;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}
.Linktienda{
    margin-left: 50px
    ;
}

@media (min-width:768px){
    .fotoc{
    
        width: 30%;
        height: 30%;
    }
}

@media (max-width:768px){
    .fotoc{
        width: 20%;
        height: 20%;
    }
}

.carousel{
    text-align: center;
    
}

@keyframes Texto {
    0% {
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.Tituloh{
    text-align: center;
    animation-name: Texto;
    animation-duration: 2s;
    animation-iteration-count: initial;
   }
   
  